.article_protection_table{
	width:70%;
	border-collapse:collapse;
	border-spacing:0;
}
.article_protectoin_table td{
	font-family:Arial, sans-serif;font-size:14px;
	padding:10px 5px;
	border-style:solid;border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.article_protection_row {
	text-align:center;
	height:60px;
}
.article_protection_header {
	font-weight: 700;
}
.article_protection_row_long{
	max-width: 400px;
	overflow:auto;
}
.article_protection_value {
	width: 75%;
}
.article_protectoin_table th{
	font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
	padding:10px 5px;
	border-style:solid;border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.result_message{
	color:red;
}